:root {
    --pr-color : #212729;
    --sc-color : #A27B5C;
    --hover-color : #3F4E4F;
    
}

*{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
    background-position: left, right ;
    background-repeat: repeat-y;
}

.nav-color{
    background-color: var(--pr-color);
    transition: all ease-in .3s;
}

.bg-transparent {
    background-color: transparent;
    transition: all ease-in .2s;
}



/* Navbar */
nav{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-list {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-brand{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    font-size: 24px;
}

.nav-brand a{
    color: #EEECEC !important;
}

.nav-brand:hover a{
    color: var(--sc-color) !important;
}

.nav-brand span{
    color: var(--sc-color);
}

.nav-brand:hover span{
    color: #EEECEC;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: var(--sc-color);
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.btn-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  color: var(--sc-color);
  border: 2px solid #fff;
  outline: none;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--sc-color);
  color: #fff;
  border: 2px solid var(--sc-color);
}
/* End Navbar */



/* Container */
.container{
    padding-left: 70px;
    padding-right: 70px;
}
/* End Container */



/* Hero */
#hero{
    background: linear-gradient(114.43deg, #000000 0%, #3A4346 84.03%);
    height: 100vh;
    width: 100%;
    position: relative;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.25);
}

.banner-item{
    display: flex;
    color: #fff;
    align-self: center;
}


.banner-item h1{
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    top: 30%;
}

.banner-item p{
    position: absolute;
    font-size: 16px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 50%;
    top: 50%;
}

.img-hero{
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    margin-right: 50px;
    margin-top: 80px;
}

.cari{
    position: absolute;
    top: 65%;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #F3F4F6;
    border: none;
    outline: none;
    color: var(--sc-color);
}


.cari:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--sc-color);
    transition: all 200ms ease-in;
}
/* End Hero */



/* Sejarah */
#sejarah{
    width: 100%;
}

.top-sejarah {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.top-sejarah h1{
    color: var(--sc-color);
    font-weight: 700;
}

.top-sejarah p{
    color: var(--sc-color);
    font-weight: 400;
}

.body-sejarah{
    overflow: hidden;
}

.tulisan-sejarah {
    width: 52%;
    float: left;
}

.tulisan-sejarah p{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 32px;
    padding-left: 40px;
    font-weight: 500;
}

.foto-sejarah{
    width: 42%;
    float: right;
    padding-right: 30px;
}

.foto-sejarah img:hover{
    cursor: zoom-in;
}

.foto-sejarah img{
    margin-bottom: 45px;
    width: 100%;
    border-radius: 6px;
}
/* End Sejarah */



/* Kuliner */
#kuliner{
    width: 100%;
}

.top-kuliner{
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.top-kuliner h1{
    color: var(--sc-color);
    font-weight: 700;
}

.top-kuliner p{
    color: var(--sc-color);
    font-weight: 400;
}

.body-kuliner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 198px;
    height: 320px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin-bottom: 50px;
    margin-right: 30px;
    box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.1);
}

.card:hover{
    background: linear-gradient(135deg, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(162,123,92,1) 100%);
    transition: all .3s ease-in;
}

.card:hover .card-image{
    transform: scale(1.06);
    cursor: zoom-in;
    transition: all .3s ease-in;
}

.card:hover .heading{
    color: #fff;
    transition: all .2s ease-in;
}

.card:hover .lokasi p{
    color: #fff;
    transition: all .2s ease-in;
}

.card:hover .address{
    color: #fff;
    transition: all .2s ease-in;
}

.card:hover .category{
    text-decoration: underline;
    transition: all .2s ease-in;
    font-size: 0.9em;
    color: #855026;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}


.category{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: var(--sc-color);
    padding: 10px 7px 0;
}

.category:hover{
    cursor: pointer;
}

.heading{
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
    height: 48px;
}

.heading:hover{
    cursor: pointer;
}

.lokasi{
    display: flex;
    margin-top: 5px;
}

.lokasi i{
    color:#C33434;
}

.lokasi p{
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-left: 3px;
    color: rgb(88, 87, 87);
}

.address {
    font-weight: 400;
    color: black;
    font-size: 10px;
    padding: 2px 7px 0px 7px;
}

.address:hover{
    cursor: pointer;
}
/* End Kuliner */



/* Wisata */
#wisata{
    width: 100%;
}

.top-wisata {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.top-wisata h1{
    color: var(--sc-color);
    font-weight: 700;
}

.top-wisata p{
    color: var(--sc-color);
    font-weight: 400;
}

.body-wisata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wisata{
    width: 280px;
    height: 360px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin-bottom: 50px;
    margin-right: 30px;
    box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.1);
}

.card-wisata:hover{
    background: linear-gradient(115deg, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(162,123,92,1) 100%);
    transition: all .3s ease-in;
}

.card-wisata:hover .card-image{
    transform: scale(1.04);
    cursor: zoom-in;
    transition: all .3s ease-in;
}

.card-wisata:hover .heading{
    color: #fff;
    transition: all .2s ease-in;
}

.card-wisata:hover .lokasi p{
    color: #fff;
    transition: all .2s ease-in;
}

.card-wisata:hover .address{
    color: #fff;
    transition: all .2s ease-in;
}

.card-wisata:hover .category{
    text-decoration: underline;
    transition: all .2s ease-in;
    font-size: 0.9em;
    color: #855026;
}
/* End Wisata */



/* About */
#profile{
    width: 100%;
}

.top-profile {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.top-profile h1{
    color: var(--sc-color);
    font-weight: 700;
}

.top-profile p{
    color: var(--sc-color);
    font-weight: 400;
}

.container-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 680px;
    overflow: hidden;
}

.container-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:680px;
    background:rgba(0, 0, 0, 0.5);
}

.body-profile{
    display: flex;
}

.about-web {
    width: 50%;
    margin-top: 50px;
    margin-right: 20px;
}

.about-web h2{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    font-size: 28px;
    color: #EEECEC;
    text-align: center;
    margin-bottom: 20px;
}

.about-web h2 span{
    color: var(--sc-color);
}

.about-web p{
    color: #fff;
    font-weight: 500;
    text-align: justify;
    text-indent: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

aside{
    width: 50%;
    height: 100%;
    margin-top: 50px;
}

aside img{
    width: 32%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

aside p{
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.contact h3{
    color: #fff;
    margin: 30px 0 15px 30px;
}

.contact .alamat i{
    color: #fff;
    margin-left: 30px;
    font-size: 30px;
}

.contact .email i{
    color: #fff;
    margin-left: 30px;
    font-size: 30px;
}

.contact p{
    color: #fff;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}

.alamat{
    display: flex;
    margin-bottom: 10px;
}

.alamat i:hover{
    cursor: default !important;
}

.email{
    display: flex;
}

.email i:hover{
    cursor: default !important;
}

.sosmed{
    display: flex;
    margin-left: 30px;
}

.sosmed i{
    color: #fff;
    margin-right: 15px;
    font-size: 30px;
}

.contact i:hover{
    cursor: pointer;
}

.sosmed .instagram i:hover{
    color: #E1306C;
}

.sosmed .facebook i:hover{
    color: #0165E1;
}

.sosmed .linkedin i:hover{
    color: #0A66C2;
}

.sosmed .telegram i:hover{
    color: #67E0EB;
}

.sosmed .github i:hover{
    color: #777676;
}
/* End About */


/* Footer */
footer{
    width: 100%;
    height: 65px;
    background-color: var(--pr-color);
}

footer p{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-weight: 400;
}

footer p a{
    color: #fff;
}
/* End Footer */



/* Clearfix */
.clear{
    clear: both;
}
/* End Clearfix */



/* Responsive Breakpoints */
@media screen and (max-width : 768px){
    .nav-list{
        padding: 0.3rem 0;
    }

    .nav-item{
        visibility: hidden;
    }

    .nav-brand{
        visibility: visible;
    }

    .nav-item:first-child {
        position: absolute;
        left: 5%;
    }

    .banner-item h1{
        font-size: 28px;
        line-height: 48px;
    }

    .banner-item p{
        margin-top: 10px;
        line-height: 20px;
        width: 80%;
    }

    .img-hero{
        margin-right: 94px;
    }

    .cari{
        top: 70%;
    }

    .tulisan-sejarah{
        float: none;
        width: 100%;
    }

    .tulisan-sejarah p{
        padding-left: 0px;
    }

    .foto-sejarah{
        float: none;
        width: 100%;
    }

    .card{
        width: 220px;
    }

    .card-wisata{
        width: 300px;
        height: 380px;
    }

    .about-web h2{
        font-size: 20px;
    }

    .about-web p{
        font-size: 12px;
        line-height: 20px;
    }

    aside img{
        display: inline;
        margin-left: 50px;
    }

    aside p{
        font-size: 10px;
        text-align: left;
        margin-left: 30px;
    }

    .contact .alamat i{
        font-size: 20px;
    }

    .contact .email i{
        font-size: 20px;
    }

    .contact h3{
        font-size: 12px;
    }

    .contact p{
        font-size: 7px;
        margin-left: 5px;
    }

    .sosmed i{
        font-size: 20px;
        margin-right: 10px;
    }
}